{{ partial "header" . }}

<main>

    <h2>{{ .Title }}</h2>

    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}

    {{ partial "paginator" . }}
</main>


{{ partial "footer" . }}
