{{ partial "header" . }}

<main>

    {{ range (.Paginator 5).Pages }}
    {{ partial "list-item" . }}
    <p>
    {{ .Summary }}
    </p>
    {{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
    {{ end }}

    {{ end }}

    {{ partial "paginator" . }}
</main>

{{ partial "footer" . }}
