html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    color: rgb(66, 70, 76);
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
    font-size: 11px;
    text-align: center;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

p {
    margin-bottom: 1.5em;
}

p > code {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin: 0px 2px;
    padding: 2px 4px;
    font-size: 90%;
    color: rgb(66, 70, 76);
}

pre {
    margin: 24px 0px;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* headers */
.title {
    color: var(--secondAccent);
    font-size: 36px;
}

h1, h2, h3, h4 {
    color: var(--secondAccent);
    margin-bottom: 20px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child)
{
    margin-top: 60px;
}

h1 a:link, h1 a:visited, h1 a:hover,
h2 a:link, h2 a:visited, h2 a:hover,
h3 a:link, h3 a:visited, h3 a:hover,
h4 a:link, h4 a:visited, h4 a:hover,
h5 a:link, h5 a:visited, h5 a:hover,
.title a:link, .title a:visited, .title a:hover
{
    color: var(--secondAccent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.fa-arrow-right{
    float: right;
}

/*list item for posts and projects*/

.item {
    padding: 26px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    display: block;
    max-width: 100%;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.18));
}

img[src$='#center']
{
    margin: auto;
}

.comments {
    margin-top: 4em;
}
